@model IEnumerable<TarifBlog.Models.Tarif>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div>
    <h3>Tarif Ekle</h3>
    <p>
        @Html.ActionLink("Tarif Ekle", "Create")
    </p>
    <table class="table">

        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Kategori.KategoriAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uye.KullaniciAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TarifAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malzemeler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yapilis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Okunma)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Kategori.KategoriAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uye.KullaniciAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TarifAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Malzemeler)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Yapilis)
                </td>
                <td>
                    <img width="75" src="@item.Foto" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tarih)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Okunma)
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.TarifID }) |
                    @Html.ActionLink("Detay", "Details", new { id = item.TarifID }) |
                    @Html.ActionLink("Sil", "Delete", new { id = item.TarifID })
                </td>
            </tr>
        }

    </table>
</div>


